<% layout('layout/boilerplate.ejs') %>

    <div class="row container">
        <h1 class="text-center">Create Group </h1>
        <div class="col-6 offset-3">

            <body>
                <form action="/group" novalidate class="validated-form" method="post">
                    <div class="mb-3">
                        <label class="form-label" for="title">Name</label>
                        <input type="text" class="form-control" name="title" required id="title" placeholder="what's the name of place">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            *Required
                        </div>
                    </div>



                    <div class="mb-3">
                        <button class="btn btn-success" type="submit">Submit</button>
                    </div>
                </form>
                <a href="/">Cancel</a>
        </div>
    </div>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.validated-form')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function(form) {
                    form.addEventListener('submit', function(event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>