<nav class="navbar navbar-expand-lg mb-3 ">
    <div class="container-fluid">
        <a class="navbar-brand" id="logo" href="/"><i class="fa-solid fa-school"></i>&nbsp;Vidyalaya</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Room
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/joinroom">Join Room</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/middleware">Start Instant Meeting</a></li>

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Groups
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/group">Create group</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/group/all">Show all Groups</a></li>

                    </ul>
                </li>
            </ul>
            <% if(!currentUser){ %>
                <a href="/login" class="nav-link">Login</a>
                <a href="/register" class="nav-link">Sign Up</a>
                <% }else{ %>
                    <a href="/logout" class="nav-link">Logout</a>
                    <% } %>
        </div>
    </div>
</nav>